{% extends 'main.html' %}

{% block content %}

    {% if page == 'login' %}
    <div>
        <form method="post" action=""> 
            {% csrf_token %}
            <label> Username: </label>
            <input type = 'text' name="username" placeholder="Enter Username">

            <label> Password: </label>
            <input type = 'password' name="password" placeholder="Enter Password">
            
            <input type="submit" value="Login">
        </form>

        <p> New User? Register  <a href="{% url 'register' %}"> here </a> </p>
    </div>

    {% elif page == 'register' %}
    <div>
        <form method="post" action=""> 
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Register">
        </form>
        <p> Existing User? Login <a href="{% url 'login' %}"> here </a> </p>
    </div>
    {% endif %}

{{name}}

{% endblock %}